<section style="width: 70vw">
  <div style="margin-top: 2rem; display: flex; flex-wrap:wrap; justify-content:center">
    {{#each restaurant}}
    <div class="card" style="width: 18rem; margin: 0px 0.5rem 1rem">
      <a href="./restaurant/{{this._id}}">
        <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}照片" style="height: 14rem">
      </a>
      <div class="card-body" style="display: flex; justify-content:space-between; align-items:center">
        <a href="./restaurant/{{this._id}}" class="card-text">{{this.name}}</a>
        <form action="/restaurant/favorite/{{this._id}}?_method=PUT" method="post">
          <button type="submit" class="btn btn-primary btn-sm">+</button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
</section>