<section class="card" style="width: 40vw; margin-top: 1rem ;">
  <div class="image" style="width: 40vw; padding:3px">
    <img src="{{restaurant.image}}" class="card-img-top" alt="{{restaurant.name}}"
      style="border-bottom: 1px solid darkgrey;">
  </div>
  <div class="card-body">
    <ul style="text-decoration: none;">
      <li>
        <p class="card-text">英文: {{restaurant.name_en}}</p>
      </li>
      <li>
        <p class=" card-text">描述: {{restaurant.description}}</p>
      </li>
      <li>
        <p class="card-text">地址: {{restaurant.location}}</p>
      </li>
    </ul>
    <div style="display: flex; justify-content:space-between">
      <a href="/restaurant/{{restaurant._id}}/edit">Edit</a>
      <a href="/" class="">Back</a>
    </div>

  </div>
</section>