<section style="display: flex; justify-content:center">
  <div class="card" style="width: 50vw; margin-top: 2rem">
    <img src="{{restaurant.image}}" class="card-img-top" alt="{{restaurant.name}}">
    <div class="card-body">
      <ul style="text-decoration: none;">
        <li>
          <p class="card-text">英文: {{restaurant.name_en}}</p>
        </li>
        <li>
          <p class=" card-text">描述: {{restaurant.description}}</p>
        </li>
        <li>
          <p class="card-text">地址: {{restaurant.location}}</p>
        </li>
      </ul>

    </div>
  </div>
</section>